/* Colors */
:root {
  --main-color: #757575;
  --second-color: #212121;
  --light-color: #ffffff;
  --dark-color: #000000;
  --contacts-in-footer-color: rgba(255, 255, 255, 0.6);
  --logo-hover-focus-color: #2196f3;
  --background-color-main: #ffffff;
  --background-color-second: #f5f4fa;
  --background-color-button-hover-focus: #2196f3;
  --background-hero-and-footer: #2f303a;
  --portfolio-card-border-color: #eeeeee;
  --team-member-card-shadow-color: hsla(0, 0%, 0%, 0.25);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-color);
  background-color: var(--background-color-main);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
}

/* Paddings for all sections except Hero */
section:not(.hero) {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Zero bottom padding for feature section - overflows previous padding */
section.features {
  padding-bottom: 0;
}

/* !!! Visually hidden headings !!! */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Logo */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-hover-focus-color);
}

.colored-part-of-logo-in-header {
  color: var(--dark-color);
}

.colored-part-of-logo-in-footer {
  color: var(--light-color);
}

/* !!! HEADER !!! */

/* Main menu of the website */

.main-menu {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  }

.main-menu a {
  text-decoration: none;
  color: var(--second-color);
}

/* Contacts in header */

.contacts-in-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts-in-header a {
  text-decoration: none;
  color: var(--main-color);
}

/* Paddings for all anchors in header except logo */
header a:not(.logo) {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Hover and focus for anchors in header except logo */
.main-menu a:hover,
.main-menu a:focus,
.main-menu .current,
.contacts-in-header a:hover,
.contacts-in-header a:focus {
  color: var(--logo-hover-focus-color);
}

/* Line border */

header {
  border: 1px solid #ECECEC;
}

/* !!! MAIN PAGE !!! */
/* Hero section*/

.hero {
  background-color: var(--background-hero-and-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  }

.hero-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-top: 0;
  margin-bottom: 30px;
}

/* Button Order service */

.order-button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
    text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--background-color-button-hover-focus);
  box-shadow: 0px 4px 4px var(--team-member-card-shadow-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
}

/* Feature section */

.features-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
 }

.feature-headings {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Observed section headings */

.what-do-we-do-heading,
.our-team-heading {
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 50px;
}

/* What do we do section */

.what-do-we-do-list,
.our-team-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* 
.what-do-we-do-list > li {
  max-height: 294px;
} */

/* Our team section */

.our-team {
  background-color: var(--background-color-second);
  }

.team-member-card {
  background-color: var(--background-color-main);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    max-height: 368px;
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* !!! PORTFOLIO PAGE !!! */
/* Filter */

.filter-buttons {
  list-style: none;
}

.filter-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--background-color-second);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--light-color);
  background-color: var(--background-color-button-hover-focus);
}

/* Portfolio cards */

.portfolio-cards {
  list-style: none;
}

.portfolio-card {
  background-color: var(--background-color-main);
  border: 1px solid var(--portfolio-card-border-color);
}

.portfolio-card-link {
  text-decoration: none;
}

.portfolio-card-heading {
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio-card-project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* !!! FOOTER !!! */

.footer {
  background-color: var(--background-hero-and-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.studia-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

/* Contacts in footer */

.contacts-in-footer {
  list-style: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-in-footer-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts-in-footer p:hover,
.contacts-in-footer p:focus {
  color: var(--logo-hover-focus-color);
}

.contacts-in-footer li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-in-footer p {
  margin-top: 0;
  margin-bottom: 0;
}
